	<div class = "clearFloat"></div>
	<div class = "copyright">
		<center>
			<p>Copyright@2014 泽尔若 All rights reserved. 版权所有</p>
			<p>联系邮箱：783352994@qq.com QQ：783352994</p>
			<p>联系地址：湖南科技大学   <a href="__APP__/Admin/Manager/login">后台管理入口</a></p>
		</center>
	<div>




		
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>