<include file='Public:nav'/>
	<link rel="stylesheet" href="__PUBLIC__/Home/Css/album.css"> 

	<div class = "main">
		<div class = "album_nav">
			<!-- Single button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    选择相册 <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#">高中</a></li>
			    <li><a href="#">大学</a></li>
			    <li class="divider"></li>
			    <li><a href="#">其他</a></li>
			  </ul>
			</div>
		</div>
		
		<div class = "photos">
			<img class = "pic1" src="__PUBLIC__/Home/Img/photos_one/007.jpg">
			<img class = "pic2" src="__PUBLIC__/Home/Img/photos_one/002.jpg">
			<img class = "pic3" src="__PUBLIC__/Home/Img/photos_one/003.jpg">
			<img class = "pic4" src="__PUBLIC__/Home/Img/photos_one/004.jpg">
			<img class = "pic5" src="__PUBLIC__/Home/Img/photos_one/005.jpg">
			<img class = "pic10" src="__PUBLIC__/Home/Img/photos_one/010.jpg">
		</div>

	</div>

<include file='Public:copyright'/>