<include file='Public:nav'/>
	<link rel="stylesheet" href="__PUBLIC__/Home/Css/android.css"> 
	<div class = "main">
	
	<div class = "dialog">
<!-- 		<div class = "zero">
			<span class="glyphicon glyphicon-eye-open zero_icon"></span>
			你好！我是zero机器人！
		</div>

		<div class = "user">
			<div class = "user_c">
			你好！我是user!
			<span class="glyphicon glyphicon-user zero_icon"></span>
			</div>
		</div> -->
		{$list.html}
	</div>
	<div class = "info">
		<h2>使用说明</h2>
		<p>该功能是调用<a href="http://www.tuling123.com">图灵机器人</a>的API，能够讲笑话，故事，聊新闻，翻译单词，讲百科全书。由于是测试版，页面布局尚不完善，请及时点击下面“清空”，保证页面美观。祝您使用愉快！
		</p>
			<form action="__URL__/initialize" >
				<button type="submit" class="btn btn-default">清空</button>
			</form>
	</div>

	<div class = "clearFloat"></div>

	<form class="form-horizontal" role="form" action="__URL__/doGet" method="post">
		 <div class="form-group">
		 	<button type="submit" class="btn btn-default">发送</button>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" placeholder="你想对zero说的话..." name = "msg"/>
		    </div>
		  </div>
	</form>
	


	</div>

<include file='Public:copyright'/>