<include file='Public:nav'/>
  <link rel="stylesheet" href="__PUBLIC__/Home/Css/music.css"> 

  <div class = "main"> 
		<div class = "left_box">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ><a href="__APP__/Home/Audio/music">音乐收藏</a></li>
          <li role="presentation" class="active"><a href="__APP__/Home/Audio/video">视频收藏</a></li>
        </ul>
        <p class = "list text-center">视频列表</p>

        <ul class="list-group">
          <li class="list-group-item">计划男</li>
          <li class="list-group-item">那些年</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>

    </div>

    <div class = "right_box">
      <div class = "video_view">
        <video width="700px" height="400px" controls="controls" style="float: right">
                      <source src="http://zero-dh.qiniudn.com/video_100.mp4" type="video/mp4">
                    Your browser does not support the video tag.
        </video>
      </div>
      <div class = "introduce_title"><strong>视频简介</strong></div>
      <p class = "introduce text-left">&nbsp;&nbsp;&nbsp;&nbsp;这短视频取自电影《计划男》中，电影主要讲述了万事仔细的韩正锡（郑在泳饰）习惯给生活里的每件事都做好周密的计划。不仅如此，他还有着严重洁癖，一天，一件计划外的事情发生了：一个神经大条的女孩李智媛（韩智敏饰）出现在正锡面前，这个女孩的性格和他截然相反：毫无规划举止邋遢！可是正锡却出乎意料的陷入了恋爱……</p>
    </div>
  </div>
          <div class = "clearFloat"></div>

      
<include file='Public:copyright'/>